{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <div class="cbc">
        <div class="main">
            <header>
                <div class="center_box">
                    <div class="wrapper">
                        <div class="logo_box">
                            <a href="#"><img src="{{ asset('img/logo.png') }}" alt="foodclub"></a>
                        </div>

                        <div class="lng_box">
                            <a href="#" class="flag_ar"></a>
                        </div>

                        <div class="orders_counter">
                            <span class="num">2<span class="line"></span></span>
                            <span class="num">1<span class="line"></span></span>
                            <span class="num">7<span class="line"></span></span>
                            <span class="num">0<span class="line"></span></span>

                            <span class="label">orders<br/>today</span>
                        </div>

                        <div class="r_box">
                            <a href="tel:8800117117" class="h_phone"><span
                                        class="ico"></span><span>800 117-117</span></a>

                            <div class="upan">
                                <div class="notice">
                                    <a href="#" class="ico_notice nftoggle"></a>

                                    <nav class="utnav">
                                        <ul>
                                            <li class="item">
                                                <span class="ico ico_1"></span>
                                                <div class="text_box">
                                                    <h3>5 points</h3>
                                                    <p>Thank you for visiting FoodClub.<br/>You got 5 more points on
                                                        your balance!</p>
                                                </div>
                                                <a href="#" class="gcross"></a>
                                            </li>
                                            <li class="item">
                                                <span class="ico ico_2"></span>
                                                <div class="text_box">
                                                    <h3>5 points</h3>
                                                    <p>Thank you for visiting FoodClub.<br/>You got 5 more points on
                                                        your balance!</p>
                                                </div>
                                                <a href="#" class="gcross"></a>
                                            </li>
                                            <li class="item">
                                                <span class="ico ico_3"></span>
                                                <div class="text_box">
                                                    <h3>5 points</h3>
                                                    <p>Thank you for visiting FoodClub.<br/>You got 5 more points on
                                                        your balance!</p>
                                                </div>
                                                <a href="#" class="gcross"></a>
                                            </li>
                                            <li><a href="#" class="more">Show more notifications</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="navbox">
                                    <a href="#" class="midbox nftoggle">
                                        <img src="{{ asset('user/user_ava_1_40.jpg') }}"
                                             alt="User photo"/>
                                        <span class="warrd"></span>
                                    </a>
                                    <nav class="utnav">
                                        <ul>
                                            <li class="points">600 points</li>
                                            <li class="sepor"></li>
                                            <li><a href="#">Profile</a></li>
                                            <li><a href="#">Orders</a></li>
                                            <li><a href="#">Address</a></li>
                                            <li><a href="#">Settings</a></li>
                                            <li class="sepor"></li>
                                            <li><a href="{{ path('app_logout') }}" class="logout">Log Out</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </header>
            <div class="center_box cb">
                <div class="uo_tabs cf">
                    <a href="#"><span>profile</span></a>
                    <a href="#"><span>Reviews</span></a>
                    <a href="#"><span>orders</span></a>
                    <a href="#" class="active"><span>My Address</span></a>
                    <a href="#"><span>Settings</span></a>
                </div>
                <div class="page_content bg_gray">
                    <div class="uo_header">
                        <div class="wrapper cf">
                            <div class="wbox ava">
                                <figure>
                                    <img src="{{ asset('user/user_ava_1_140.jpg') }}"
                                         alt="Helena Afrassiabi"/>
                                </figure>
                            </div>
                            <div class="main_info">
                                <h1>{{ app.user.firstName }} {{ app.user.lastName }}</h1>
                                <div class="midbox">
                                    <h4>560 points</h4>
                                    <div class="info_nav">
                                        <a href="#">Get Free Points</a>
                                        <span class="sepor"></span>
                                        <a href="#">Win iPad</a>
                                    </div>
                                </div>
                                <div class="stat">
                                    <div class="item">
                                        <div class="num">30</div>
                                        <div class="title">total orders</div>
                                    </div>
                                    <div class="item">
                                        <div class="num">14</div>
                                        <div class="title">total reviews</div>
                                    </div>
                                    <div class="item">
                                        <div class="num">0</div>
                                        <div class="title">total gifts</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uo_body">
                        <div class="wrapper">
                            <div class="uofb cf">
                                <div class="l_col adrs">
                                    <h2>Add New Address</h2>
                                    {{ form_start(form, { 'action': path('address_index') }) }}
                                    <div class="field">
                                        {{ form_label(form.name, 'Name') }}
                                        {{ form_widget(form.name, { 'class': 'vl_empty' }) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                    <div class="field">
                                        {{ form_label(form.address, 'Address') }}
                                        {{ form_widget(form.address, { 'class': 'vl_empty' }) }}
                                        {{ form_errors(form.address) }}
                                    </div>
                                    <div class="field">
                                        {{ form_label(form.area, 'Area') }}
                                        {{ form_widget(form.area) }}
                                        {{ form_errors(form.area) }}
                                    </div>
                                    <div class="field">
                                        {{ form_label(form.city, 'City') }}
                                        {{ form_widget(form.city) }}
                                        {{ form_errors(form.city) }}
                                    </div>
                                    <div class="field">
                                        {{ form_label(form.street, 'Street') }}
                                        {{ form_widget(form.street) }}
                                        {{ form_errors(form.street) }}
                                    </div>
                                    <div class="field">
                                        {{ form_label(form.house, 'House') }}
                                        {{ form_widget(form.house) }}
                                        {{ form_errors(form.house) }}
                                    </div>

                                    <div class="field">
                                        {{ form_label(form.addInfo, 'Additional Information') }}
                                        {{ form_widget(form.addInfo) }}
                                        {{ form_errors(form.addInfo) }}
                                    </div>

                                    <div class="field">
                                        <input type="submit" value="add address" class="green_btn"/>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                                <div class="r_col">
                                    <h2>My Addresses</h2>
                                    <div class="uo_adr_list">
                                        {% for address in addresses if addresses|length > 0 %}
                                            <div class="item">
                                                <h3>{{ address.name }}</h3>
                                                <p>{{ address.address }}, {{ address.area }}, {{ address.city }}
                                                    , {{ address.street }}, {{ address.house }}</p>

                                                <div class="actbox">
                                                    <a href="{{ path('address_delete', { 'id': address.id }) }}"
                                                       class="bcross"></a>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="item">
                                                You do not have Addresses yet
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="center_box">
                <div class="wrapper">
                    <nav class="f_nav">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="fadv_ico"><span class="ico_1"></span></span>
                                    <span class="title">Rewards Program</span>
                                    <span class="descr">We’re empowering businesses and teams to put Design first by helping them roll up their sleeves and apply customer-centric product.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fadv_ico"><span class="ico_2"></span></span>
                                    <span class="title">monthly lottery</span>
                                    <span class="descr">We’re empowering businesses and teams to put Design first by helping them roll up their sleeves and apply customer-centric product.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fadv_ico"><span class="ico_3"></span></span>
                                    <span class="title">Restaurant Owners</span>
                                    <span class="descr">We’re empowering businesses and teams to put Design first by helping them roll up their sleeves and apply customer-centric product.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fadv_ico"><span class="ico_4"></span></span>
                                    <span class="title">about foodclub</span>
                                    <span class="descr">We’re empowering businesses and teams to put Design first by helping them roll up their sleeves and apply customer-centric product.</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="bt_box">
                <div class="center_box">
                    <div class="wrapper">
                        <div class="soc_link">
                            <a href="#" class="apple"></a>
                            <a href="#" class="android"></a>
                            <a href="#" class="email"></a>
                            <a href="#" class="fb"></a>
                        </div>
                        <div class="copyright">
                            <div>© {{ "now"|date("Y") }} Zomlex Inc. All rights reserved.</div>
                            <nav>
                                <a href="#">Partner Agreement</a>
                                <span>|</span>
                                <a href="#">User Agreement</a>
                                <span>|</span>
                                <a href="#">FAQ</a>
                                <span>|</span>
                                <a href="#">Careers</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
